</ul>
<h1>Burgers</h1>

<h2>Choose a burger to devour or add a burger to devour later!</h2>

<ul>
    {{#each burgers}}
    {{!-- {{#unless devoured}}
    {{> devoured=true}}
    {{/unless}} --}}
    {{/each}}
</ul>

<h2>Burgers are amazing</h2>

<ul>
    {{#each burgers}}
    {{!-- {{#if devoured}}
    {{> devoured=false}}
    {{/if}} --}}
    {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="bur">Burgers</label>
        <input type="text" id="bur" name="name">
    </div>

    <div class="form-group">
        <input type="radio" name="devoured" value="1"> Eat Me!
    </div>

    <button type="submit">Add Burger</button>
</form>